<!DOCTYPE html>
<!-- saved from url http://www.bootstraptor.com
##########################################################################
Don't remove this attribution!
This template build on Bootstrap 3 Developer  Kit v.3.0. by @Bootstraptor
Built with Bootstrap 3.0.* version/ part of Bootstraptor KIT
Read usage license on for this template on http://www.bootstraptor.com
##########################################################################
-->
<html lang="en">
<head>
<%= partial "partials/header" %>
  <title><%= current_page.data.title ? "#{current_page.data.title} | " : "" %>Code For Charlotte</title>
<body>
<%= partial "partials/facebook" %>
  <div class="wrap">
<%= partial "partials/nav" %>
<%= yield %>
<%= partial "partials/footer" %>
  </div>
  <%= partial "partials/javascripts" %>
  <%= google_analytics_universal_tag %>
</body>
</html>
