    <section class="custom-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-lg-7">
            <div class="row">
              <div class="col-sm-4 col-xs-6">
                <div>
                  <ul class="list-unstyled">
                    <h2>More Info</h2>
                    <li>
                      <%= link_to 'About Us', '/about-us.html' %>
                    </li>
                    <li>
                      <%= link_to 'New Members', '/new-members.html' %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div>
                  <ul class="list-unstyled">
                    <h2>Contribute</h2>
                    <li>
                      <%= link_to 'Website', '/toolkit/website.html' %>
                    </li>
                    <li>
                      <%= link_to 'City Mark', '/projects/city-mark.html' %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-5">
            <span class="text-right">
              <address>
                <strong>Code For Charlotte</strong><br />
                809 W. Hill St, Charlotte, NC<br />
                Charlotte, NC 28202<br />
                <abbr title="Phone">P:</abbr>
                <%= link_to '(704) 951-RUBY', 'tel:7049517829' %>
              </address>
              <address>
                <strong>Full Name</strong><br />
                <%= link_to 'first.last@example.com', '#' %>
              </address>
            </span>
          </div>
        </div>
      </div>
    </section>
