    <section class="custom-footer">
      <div class="container">
        <div class="row"  style="vertical-align: top">
          <div class="col-xs-6 col-lg-7">
            <h2>Recent Blog Posts</h2>
            <% blog.articles[0...5].each do |article| %>
              <article>
                <h5>
                  <%= link_to article.title, article.url %>
                  <time><%= article.date.strftime('%b %e %Y') %></time>
                </h5>
              </article>
            <% end %>
          </div>
          <div class="col-xs-6 col-lg-5 text-right">
            <strong>Code For Charlotte</strong><br />
            <%= link_to 'Code of Conduct', '/code-of-conduct.html' %><br />
            <address>
              809 W. Hill St, Charlotte, NC<br />
              Charlotte, NC 28202<br />
              <abbr title="Phone">P:</abbr>
              <%= link_to '(704) 951-RUBY', 'tel:7049517829' %><br />
              <%= link_to 'Contact', '/contact.html' %>
            </address>
          </div>
        </div>
      </div>
    </section>
