---
title: Add Yourself to the Website
subtitle: a quick introduction to working with github
description: Tutorial for team members to edit the Code for Charlotte website
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3>
                  
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  <ol>
                    <li><%= link_to 'Login', 'https://github.com/login' %> or <%= link_to 'create', 'https://github.com/join' %> a GitHub account</li>
                    <li>Visit <%= link_to 'https://github.com/CodeForCharlotte/codeforcharlotte.org' %>
                    <li>Click <em>Fork</em> <%= image_tag('fork.png', width:'675') %></li>
                    <li>Click the <em>data</em> folder <%= image_tag('data.png', width: '675') %></li>
                    <li>Click the <em>team.yml</em> file <%= image_tag('team-yaml.png', width: '675') %></li>
                    <li>Click the pencil icon on the far right in the header above the line numbers <%= image_tag('edit.png', width: '675') %></li>
                    <li>Click into the edit area at the last line after the last person’s entry <%= image_tag('new-member.png', width: '675') %></li>
                    <li>Type tab twice, a hyphen and return <%= image_tag('results.png', width: '675') %></li>
                    <li>Type tab once, name followed by a colon, a space, then your name in quotation marks and return <%= image_tag('name.png', width: '675') %></li>
                    <li>If you have a <%= link_to 'Gravatar', 'http://gravatar.com' %> account, Type email followed by a colon, a space, then the email address and return <%= image_tag('email.png', width: '675') %></li>
                    <li>If you don’t want to display a picture of yourself, Type email followed by a colon, a space and return <%= image_tag('no-email.png', width: '675') %></li>
                    <li>Type bio followed by a colon, a space then about something of yourself in quotation marks and return <%= image_tag('bio.png', width: '675') %></li>
                    <li>Click <em>Commit changes</em> after entering in a summary of the changes and more detail if desired</em> <%= image_tag('commit-message.png', width: '675') %></li>
                    <li>Click <em>Pull Requests</em> on the far right <br> <%= image_tag('pull-request.png', width: '138') %></li>
                    <li>Click the <em>create a pull request link</em> <%= image_tag('pull-request-text.png', width: '675') %></li>
                    <li>Click <em>Create pull request</em> <%= image_tag('pull-request-message.png', width: '675') %></li>
                    <li>Click <em>Create pull request</em> <br> <%= image_tag('pull-request-button.png', width: '183') %></li>
                    <li>Someone will check the format is correct and merge your pull request and you’ll be added to the website!</li>
                  </ol>
                </p>
              </div>
            </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>