---
title: New Members
subtitle: Welcome
description:
layout: page
---
<% content_for :jumbotron do %>
<%= partial "partials/jumbotron" %>
<% end %>
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Welcome!
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  Below you'll find a list of the things we'd like new brigade members to do.  They are all important!
                </p>
                <p>
                  Meetup will keep you up to date on when we have events that you can
                  register for.  The forum is where all brigade members can discuss items
                  of importance.  The mailing list will include timely updates regarding
                  the progress we're making.  Our Localwiki represents one of our
                  major contributions to the citizens.
                </p>
              </div>
            </div>
            <hr />
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Quick Checklist
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  <ul class="instructions-list">
                    <li>Sign up for <%= link_to 'Meetup', 'http://www.meetup.com/Code-For-Charlotte' %>.</li>
                    <li>Register for the <%= link_to 'Forum', 'http://forum.codeforcharlotte.org/' %>.</li>
                    <li><%= link_to 'Add Yourself to the Website', 'add-yourself-to-website.html' %>.</li>
                    <li>Sign up for the <%= link_to 'Mailing List', 'http://eepurl.com/QKgqr' %>.</li>
                    <li>Contribute to the <%= link_to 'LocalWiki', 'http://www.localwiki.net/charlotte/' %></li>
                    <li>Find a project [coming soon]</li>
                  </ul>
                </p>
              </div>
            </div>
            <hr />
            <div class="panel panel-default custom-panel">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Educational Resources
                </h3>
              </div>
              <div class="panel-body">
                <p>
                  We've assembled the following list of <%= link_to 'educational resources', '/education.html' %> to learn more about software development.
                </p>
              </div>
            </div>
<% content_for :sidebar do %>
<%= partial "partials/sidebar" %>
<% end %>
